.first-website{
    display: flex;
    background-color:rgb(215, 186, 245) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center; 
    padding: 20px;
    
}
.style{
    font-size: 55px;
    font-weight: bold;
    padding:10px;
    width: 70%;
    margin: auto;

}
.text{
    text-align: center;
    border: 10px;
    
    
}
.button{
    background-color: tomato;
    color: black;
    border: none; padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
    align-items: center;
}
.center{
    color: white;
    padding:10px;
    width: 70%;
    margin: auto;
}
h1{
    font-size: 55px;
    font-weight: bold;
    width: 100%;
    margin: auto;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding:17px;
}
p{
    width: 100%;
    margin: auto;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.one{
    text-decoration: underline;
}
.pink{
    height: 350px;
    width: 300px;
    background-color: #acdde0;
    border-radius: 100px 100px 0 0;
}
.two{
    text-decoration: underline;
}
.three{
    text-decoration: underline;
}
.red{
    height: 350px;
    width: 300px;
    background-color: #959bf3;
    border-radius: 80px 80px 0 0;
}
.green{
    height: 350px;
    width: 300px;
    background-color: #96686c;
    border-radius: 80px 80px 0 0;
}
.part-third{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding:10px;
    width: 70%;
    margin: auto;
    gap: 7px;
    margin-top: 5px;
    
}
.part-four{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding:20px;
    width: 70%;
    margin: auto;
    gap: 100px;
    margin-top: 5px;
    background-color:rgb(192, 192, 192) ;
justify-content: space-around;
}
.part-five{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding:30px;
    width: 80%;
    margin: auto;
    gap: 30px;
    margin-top: 5px;
    background-color: rgb(232, 244, 255);
    border-radius: 20px;
}
.love-flower{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    gap: 8px;

}

.image-one{
    width: 250px;
    height:250px;
    gap: 10px;
   
}
.image-two{
    width: 250px;
    height:250px;
    gap: 10px;
   
}
.image-three{
    width:250px;
    height: 250px;gap: 10px;
}
.image-four{
    width:250px;
    height: 250px;
    gap: 10px;
}


